/* universal styles */

* {
  box-sizing: border-box;
}

html {
  min-height:100%;
  position:relative;
}

body {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(red, yellow);
}

/* main container styles */
.main-container{
  display: grid;
  grid-template-columns: 5em 1fr 5em;
  grid-template-rows: 1em 1fr 2em;
  grid-template-areas:
                      ". . ."
                      ". content ."
                      ". . ."
  ;
  overflow: visible;
  z-index:-1;
  height: 95%;
}

.content-container{
  grid-area: content;
  display: inline-block;
  background-color: #8bd5e7;
  text-align: center;
  border-radius: 1em;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
  overflow-y: visible;
}

.content-container h1 {
  font-family: 'Pacifico',
  cursive;
}

/* header */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* article container */
.article-container {
  width: 95%;
  margin: 0 auto;
}

.article-container h3 {
  font-family: 'Pacifico',
  cursive;
}

.article-seperator {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
/* individual article styles */
.article {
  width: 80%;
  height: 8em;
  display: grid;
  grid-template-columns: 0.4fr 0.6fr;
  grid-template-rows: 8em;
  grid-template-areas:
                      "img text"
  ;

  background-color: coral;
  border-radius: 10px;
  margin: 1em;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
  transition: background-color 0.5s ease;
  transition: transform 0.5s ease;
  transition: box-shadow 0.5s ease;
}

.article:hover {
  background-color: #ffdb3a;
  -webkit-transform: scale(1.15);
  -ms-transform: scale(1.15);
  transform: scale(1.15);
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
}

.article img {
  grid-area: img;
  object-fit: cover;
  width: 100%;
  min-height: 4em;
  height: 90%;
  border-radius: 5% 0% 0% 5%;
  margin: auto;
  padding-left: 0.2em;
  object-position: 50% 50%;
  padding-top: 10px;
}

.article a {
  border-radius: 5% 0% 0% 5%;
}


.article-text {
  grid-area: text;
  font-size: x-small;
  height: 90%;
  margin: 0 auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  overflow: hidden;
}

.article-text h6 {
  margin: 0.7em 0 0.3em 0;
  height: 40%;
  font-size: 1.1em;
  flex-basis: 1 1 0;
  text-rendering: optimizeLegibility;
  word-wrap: normal;
  font-family: 'Open Sans',
  sans-serif;
  font-weight: 800;
  overflow-y: hidden;
}

.article-text p {
  margin: 0.3em 0 0.3em 0;
  font-size: 1em;
  height: 50%;
  min-height: 2.0em;
  flex-basis: 0.5 0.5 0;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow-y: inherit;
  padding-top: 10px;
  text-align: left;
  font-family: 'Roboto',
  sans-serif;
}

.article-text span {
  margin: 0 auto;
  font-size: 6px;
}

.author-date{
  flex-basis: 0.5 0.5 0;
  height: 0.5%
}

/* Search bar */

.search-bar {
  width: 100%;
  margin-bottom: 5px;
  z-index: 1;
}

.btn-img {
  height: 20px;
  width: 20px;
}


.btn-img:hover {
  border: #ffdb3a 1px solid;
}

.btn-input {
  font-family: 'Roboto',
  sans-serif;
  background: hsla(0, 0%, 100%, .6);
  border: 1px solid #bdbdbd;
  border-radius: 10px;
  box-shadow: 0 2px rgba(0, 0, 0, .05);
  width: 45vw;
  height: 40px;
  font-size: 18px;
  color: #424242;
  text-align: center;
  opacity: .8;
  -webkit-transition: .5s;
  transition: .5s;
}

::placeholder {
  font-family: cursive;
}

.btn-submit {
  display: none;
}

/* checkboxes */
.checkbox {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
  justify-content: space-evenly;
  padding-bottom: 1em;
}

.checkbox label {
  width: 48%;
  padding: 5px;
}

.checkbox h3 {
  font-family: 'Pacifico',
  cursive;
}
/* btn toggle */
.btn-toggle {
  font-family: 'Pacifico',
  cursive;
}

@media screen and (max-width: 700px) {
  .article-text h6 {
    font-size: 20px,
  }
}